{% extends "catalog/layout.html" %}
{% load static from static %}
{% load static %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="grid-15">
    <ul>
        <li>By Group:</li>
        {% for group in minerals_group %}
            <li class="group_search">
                <a href="{% url 'catalog:sort_group' group=group %}">{{ group }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="grid-70">
    <ul class="minerals__container">
        {% for value in minerals %}
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'catalog:detail' name=value.name pk=value.pk %}">
            {% if value.name.count <= 38 %}
                {{ value.name }}
            {% else %}
                {{ value.name|truncatechars:38 }}
            {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}